# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
*.env/

# Distribution / packaging
build/
dist/
*.egg-info/
# Secrets and environment variables
.env
# Windows
Thumbs.db
# PyCharm
.idea/
*.iml
# Log files
*.log
# Package dependency file
packages.txt
# Ignore dynamically generated JSON credentials
credentials
# Streamlit temporary files
.streamlit/